extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching of #{searchingBy}
    .search__video
        each item in videoList
            +videoBlock({
                title: item.title,
                views: item.views,
                videoFile: item.videoFile
            })
