extends layouts/main
block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post")
            input(type="file", name="file", id="file", required=true)
            input(type="text", name="videoTitle", placeholder="title", required=true)
            textarea(name="videoDescription", placeholder="Description", required=true)
            input(type="submit", value="Upload")