.social-login
    button
        span.social-login__github
            i.fab.fa-github
        |Continue with Github
    button.social-login__facebook
        span
            i.fab.fa-github
        | Continue with Facebook